.page-header-div h2.h2 {
    font-family: 'Playfair Display' !important;

}

.page-header-div .page-header-subtitle {
    font-family: 'Playfair Display', serif !important;
    color: #6C757D;
}

a.btn {
    font-family: 'Open Sans', sans-serif;
}

h1.h1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
}

.my-beige-color-bg {
    background-color: #EAE8E0;
}

.nav-item a {
    color: #212529 !important;
}

.nav-item a.active, .nav-item a:hover {
    color: #495057 !important;
}


.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(0,0,0,0.25) !important;
}

a.dropdown-item {
    color: whitesmoke !important;
}

a.dropdown-item:hover {
    color: #acacac !important;
}

.my-card {
    background-image: url("../data/files/brush-stroke.png");
    background-blend-mode: overlay;
    background-size: cover;
    height: 25em;
}

.beige-card {
    background-color: #D9D9D9;
}

.reddish-card {
    background-color: #AF8B92;
}

.beige-card .h3 {
    font-family: 'Playfair Display SC', serif;
    font-size: 48px;
    line-height: 1.5em;
    font-weight: 900;
    text-align: center;
    margin-top: 1em;
}

.beige-card p {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 1em;
    color: rgba(0,0,0,0.59);
}

.reddish-card p {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 1em;
    color: whitesmoke !important;
}

.beige-card p a{
    text-decoration: underline;
    font-weight: 900;
    color: rgba(0,0,0,0.59);
}


.reddish-card .h3 {
    font-family: 'Playfair Display SC', serif;
    font-size: 36px;
    line-height: 1.5em;
    font-weight: 900;
    text-align: center;
    margin-top: 1em;
    color: gray;
}

.card {
   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1em !important;
}

.card-img-top {
    border-radius: 1em !important;
    padding: 0.4em;
    width: 100% !important;
    height: 10vw !important;
    max-height: 13rem !important;
}

.card-title {
    text-decoration: underline;
    text-transform: uppercase;
    color: #425466;
}

.card-price {
    color: #27272E;
    padding-top: 0.6em;
    font-weight: 500;
    font-size: 1.2em;
}

.my-bluish-color-bg {
    background-color: #8B92AF !important;
}

.btn-bluish {
    color: whitesmoke;
    background-color: #8B92AF !important;
}

.btn-darkish {
    color: whitesmoke;
    background-color: #425466 !important;
}

form {
    font-family: 'Open Sans', sans-serif;
}

.purple-link {
    color: #AF8B92;
}

.card-product-link {
    text-decoration: none;
    color: initial;
}

.card-product-link:hover {
    color: initial;
}

.card:hover {
    box-shadow: -1px -100px 106px -92px rgb(234,232,224) inset;
-webkit-box-shadow: -1px -100px 106px -92px rgb(234,232,224) inset;
-moz-box-shadow: -1px -100px 106px -92px rgb(234,232,224) inset;
    border: #a4af8b solid 2px;
}

.details-image {
    width: 100%;
    border-radius: 1em;
}

.details-card {
    font-family: 'Open Sans', sans-serif;
    border-radius: 1em;
    border: 1px solid darkgray;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.08);
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.08);
    padding: 1em;
}

.details-card-right {
    margin-right: -5em;
}

.details-card-seller {
    color: #425466;
}

.details-card-price {
    font-size: 2.2em;
    font-weight: bold;
}



.details-description, .details-product h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.details-description {
    color: #425466;
}

.similar-products-div {
    background-image: url("../data/files/brush-stroke.png");
    background-blend-mode: overlay;
    background-size: cover;
    background-color: #AF8B92;
}

.my-green-bg {
    background-color: #A4AF8B !important;
}

.payment-section {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    border-radius: 1em;
    width: 80%;
}

.payment-section input {
    color: #495057;
    background-color: #EAE8E0;
}

.my-text-darkish {
    color: #495057 !important;
}

.dashboard-card-text {
    font-weight: 900 !important;

}

.link-no-deco {
    text-decoration: none !important;
    color: initial !important;
}