{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="mx-auto w-50">
        <div class="my-card beige-card" style="height:7em; border-radius: 1em;">
            <h1 class="my-text-darkish h1 text-center align-middle mt-2 pt-4">Промена на лозинка</h1>
        </div>

        <hr style="border: solid black 1px;">


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

             <div class="row mb-3">
                <label for="user-email" class="col-sm-2 col-form-label w-50 fs-5">Емаил</label>
                <div class="col-sm-10 w-50">
                    <input type="email" class="form-control w-100" name="user_email" id="user-email"
                           value="{{user.email}}">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label w-50 fs-5">Стара лозинка</label>

                <div class="col-sm-10 w-50">
                    <input type="password" class="form-control w-100" name="user_oldpassword" id="user-oldpassword">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label w-50 fs-5">Нова лозинка</label>

                <div class="col-sm-10 w-50">
                    <input type="password" class="form-control w-100" name="user_newpassword" id="user-newpassword">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label w-50 fs-5">Потврди ја новата лозинка</label>

                <div class="col-sm-10 w-50">
                    <input type="password" class="form-control w-100" name="user_confirmpassword" id="user-confirmpassword">
                </div>
            </div>

            <button type="submit" class="btn btn-lg btn-darkish fw-bold ps-5 pe-5 pt-3 pb-3 mx-auto d-block mt-5">ЗАЧУВАЈ ПОСТАВКИ
            </button>
        </form>


    </div>
</div>

{% endblock %}
