{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="mx-auto w-50">
        <div class="my-card beige-card" style="height:7em; border-radius: 1em;">
            <h1 class="my-text-darkish h1 text-center align-middle mt-2 pt-4">ОБЈАВИ НОВ ОГЛАС</h1>
        </div>

        <hr style="border: solid black 1px;">


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mb-3">
                <label for="product-title" class="col-sm-2 col-form-label w-50 fs-5">Внеси наслов на оглас</label>
                <div class="col-sm-10 w-50">
                    <input type="text" class="form-control w-100" name="product_title" id="product-title"
                           placeholder="пр. трпезариска маса">
                </div>
            </div>
            <div class="row mb-3">
                <label for="product-category" class="col-sm-2 col-form-label w-50 fs-5">Категорија на оглас</label>
                <div class="col-sm-10 w-50">
                    <select name="product_category" id="product-category" class="form-select text-muted">
                        <option selected>Избери категорија</option>
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.category}}</option>

                        {% endfor %}
                    </select>

                </div>
            </div>
            <div class="row mb-3">
                <label for="product-description" class="col-sm-2 col-form-label w-50 fs-5">Опис на производ</label>
                <div class="col-sm-10 w-50">
                    <textarea class="form-control w-100" name="product_description" id="product-description"
                              placeholder="Внеси краток опис за производот кој ќе биде објавен.."></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <label for="product-images" class="col-sm-2 col-form-label w-50 fs-5">Прикачи фотографии од производот
                    <br> <span class="lead" style="font-size: 0.7em;">Напомена: првата прикачена фотографија ќе биде избрана за насловна фотографија доколку не прикачите насловна фотографија</span></label>

                <div class="col-sm-10 w-50">
                    <input type="file" multiple class="w-100 form-control h-100 pt-5 pb-5 ps-5 multiple-files-uploader" name="product_images" id="product-images">
                </div>
            </div>
            <div class="row mb-3">
                <label for="product-cover-image" class="col-sm-2 col-form-label w-50 fs-5">Насловна фотографија</label>
                <div class="col-sm-10 w-50">
                    <input type="file" class="form-control w-100" name="product_cover_image" id="product-cover-image">
                </div>
            </div>
            <div class="row mb-3">
                <label for="product-price" class="col-sm-2 col-form-label w-50 fs-5">Цена на производ</label>
                <div class="input-group col-sm-10 w-50">
                    <span class="input-group-text" id="dollar-addon">$</span>
                    <input id="product-price" name="product_price" type="number" min="0" step="0.01" class="form-control text-end" placeholder="пр. 120.50" aria-label="Price"
                           aria-describedby="dollar-addon">
                </div>
            </div>

            <button type="submit" class="btn btn-lg btn-darkish fw-bold ps-5 pe-5 pt-3 pb-3 mx-auto d-block mt-5">ПОСТАВИ
                ОГЛАС
            </button>
        </form>


    </div>
</div>

{% endblock %}
