{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="mx-auto w-50">
        <div class="my-card beige-card" style="height:7em; border-radius: 1em;">
            <h1 class="my-text-darkish h1 text-center align-middle mt-2 pt-2">ПОТВРДА ЗА БАРАЊЕ ЗА ПОСТАВУВАЊЕ ОГЛАС</h1>
        </div>

        <hr style="border: solid black 1px;">

        <img class="d-block mx-auto" src="../data/files/GREEN-CHECK.png" width="150"
             alt="Image of a green checkmark inside a green circle">

        <p class="mt-5 fs-5 text-center">Вашето барање за поставување на нов оглас е примено и ќе биде дополнително разгледано од страна на одговорните за да биде валидирано дали производот опишан на огласот соодветствува во целост со реалната состојба која може да се види на поднесените фотографии. <br><br> Во најскоро време ќе бидете известени преку email за состојбата на вашето барање.
<br><br>
Доколку вашето барање не ја помине првата валидација можно е да бидете контактирани за дополнителна валидација. <br> Ви посакуваме убав ден!</p>




    </div>
</div>

{% endblock %}